body {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.div {
  border-bottom: 2px solid white;
  /* width: fit-content; */
}
.input {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid white;
  /* width: fit-content; */
  padding-bottom: 5px;
  gap: 20px;
}
.firstname,
.lastname,
.country {
  border: none;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  background-color: rgb(28, 27, 27);
  color: rgb(151, 137, 137);
}
::placeholder {
  color: rgb(151, 137, 137);
}

#notifications {
  border-bottom: 2px solid white;
}
.notify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Security {
  border-bottom: 2px solid white;
}
.range {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sliderr {
  width: 100%;
}

.button {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 20px;
}
.save {
  border: 2px solid black;
  background-color: blue;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
}

.cancel {
  border: 2px solid black;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 26px;
  left: 5px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
